@use '../custom' as *;

.footer {
    background-color: $primary;
    height: 30px;
    text-align: center;
    p {
        color: $light;
        font-weight: 500;
        line-height: 30px;
    }
}